body{
    background-color: rgb(177, 255, 104);
}
.center{
    text-align: center;
}
.on {
    opacity: 1;
}

.off {
    opacity: 0;
    pointer-events: none;
}
.sett {    
    margin-top: 1vh;
    color: aqua;
    background-color: black;

    height: 15vh;
    font-size: 3vw;
    text-align: center;
    margin-left: auto;
}

.sett2 {
    margin-top: 1vh;
    margin-bottom: 1vh; 
    color: yellow;
    background-color: black;

    height: 15vh;
    font-size: 3vw;
    text-align: center;
    margin-right: auto;
}
.width40{
    width: 40%;
    font-size: 3vw;
}
.width70{
    width: 70%;
    font-size: 5vw;
}
.white2{
    background-color: white;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 3vw;
}
.sett3 {
    color: rgb(0, 255, 85);
    background-color: black;
    width: 30%;
    height: 10vh;
    font-size: 2vw;
    text-align: center;
    margin-right: auto;
}
.mondaibun{
    color: rgb(0, 0, 54);
    font-size: 10vw;
    text-align: center;
}
.white{
    background-color: white;
    position:absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 5vw;
}
